:root {
  --primary-background-color: radial-gradient(
    circle at 11.4% 50%,
    rgb(255, 37, 174) 0%,
    rgb(249, 233, 8) 90%
  );
  --tittle-text: "Exo", sans-serif;
  --subtittle-text: "Meera Inimai", sans-serif;
  --primary-text-font: "Duru Sans", sans-serif;
}
* {
  background-color: rgb(248, 227, 248);
}
body {
  background-color: rgb(248, 227, 248) !important;
}
/* Navbar */
.navbar {
  top: 0;
  background-color: rgb(248, 227, 248);
  padding: 0 !important;
  line-height: 40px;
}
.navbar-brand {
  color: #fd4799 !important;
  font-family: var(--tittle-text);
}
.navbar-toggler-icon {
  background-color: transparent;
}
.navbar-toggler {
  transition: all 200ms ease-in-out;
}
.navbar-toggler:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.navbar-toggler:hover {
  background: #fd4799 !important;
}
.nav-link {
  font-family: var(--primary-text-font);
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5;
  padding: 5px 20px !important;
}
.nav-link:hover:after {
  width: 80%;
}
.nav-link:hover {
  color: grey !important;
}
.nav-link::after {
  content: "";
  position: absolute;
  background-color: #fd4799;
  height: 3px;
  width: 0;
  left: 18px;
  bottom: 10px;
  transition: 0.3s;
}

button {
  background: var(--primary-background-color);
  color: white;
  font-family: var(--primary-text-font) !important;
  padding: 10px;
  border: solid var(--primary-background-color);
  border-radius: 10px !important;
  margin-left: 40px !important;
}
h2 {
  background: var(--primary-background-color) !important;
  color: white !important;
  font-family: var(--tittle-text);
  font-weight: bold !important;
}
footer p {
  background: var(--primary-background-color) !important;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-family: var(--primary-text-font);
  font-size: 12px;
}
footer a {
  background-color: transparent;
}
@media (max-width: 748px) {
  .hero {
    margin-top: inherit !important;
    text-align: center;
    position: relative;
    top: 50px;
  }
  .hero h1 {
    font-size: 48px;
    text-align: center;
  }
  .hero h3 {
    font-size: 18px !important;
  }
  .project-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  img {
    display: none;
  }
  .project-description {
    font-size: 14px !important;
  }
  .nav-link:hover:after {
    width: 20%;
  }
}
@media (min-width: 1440px) {
  img {
    max-width: 80% !important;
  }
  .project-description,
  .project-title {
    margin-top: 150px;
  }
}
