:root {
  --primary-background-color: radial-gradient(
    circle at 11.4% 50%,
    rgb(255, 37, 174) 0%,
    rgb(249, 233, 8) 90%
  );
  --tittle-text: "Exo", sans-serif;
  --subtittle-text: "Meera Inimai", sans-serif;
  --primary-text-font: "Duru Sans", sans-serif;
}
*,
body {
  background-color: rgb(248, 227, 248) !important;
  text-align: center;
}
body {
  margin: 150px 0 !important;
}
/* Navbar */
.navbar {
  top: 0;
  background-color: rgb(248, 227, 248);
  padding: 0 !important;
  line-height: 40px;
}
.navbar-brand {
  color: #fd4799 !important;
  font-family: var(--tittle-text);
}
.navbar-toggler-icon {
  background-color: transparent !important;
}
.navbar-toggler {
  transition: all 200ms ease-in-out;
}
.navbar-toggler:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.navbar-toggler:hover {
  background: var(--primary-background-color) !important;
}
.nav-link {
  color: black !important;
  font-family: var(--primary-text-font);
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5;
  padding: 5px 20px !important;
}
.nav-link:hover:after {
  width: 80%;
}
.nav-link:hover {
  color: grey !important;
}
.nav-link::after {
  content: "";
  position: absolute;
  background-color: #fd4799;
  height: 3px;
  width: 0;
  left: 18px;
  bottom: 10px;
  transition: 0.3s;
}

button {
  background: rgb(248, 203, 238) !important;
  color: white;
  font-family: var(--primary-text-font) !important;
  padding: 10px;
  border: solid var(--primary-background-color);
  border-radius: 10px !important;
  transition: 0.3s;
}
button:hover {
  background: var(--primary-background-color) !important;
}
/*Main page*/
h2 {
  font-family: var(--tittle-text);
  font-size: 62px !important;
  font-weight: bolder !important;
  color: #fd4799 !important;
}
p {
  font-family: var(--subtittle-text) !important;
  font-weight: bold;
  font-size: 32px;
  margin: 0 !important;
}
.contacts {
  margin: 100px !important;
}
.link {
  font-size: 24px;
  text-decoration: none;
  color: grey;
}
.link:hover {
  color: #fd4799;
}
/*footer*/
.contact-box {
  padding: 30px 450px;
}
.contact-box h3 {
  font-family: var(--tittle-text) !important;
  font-weight: bolder !important;
  font-size: 28px !important;
  color: #fd4799;
}
.contact-box h4 {
  font-family: var(--primary-text-font) !important;
  opacity: 50% !important;
  font-size: 16px;
}
footer {
  background: var(--primary-background-color) !important;
  font-size: 22px;
  font-family: var(--primary-text-font);
  text-align: center;
  padding: 20px 0;
}
footer .social-links {
  background-color: var(--primary-background-color) !important;
  display: flex;
  justify-content: center;
}
footer .social-links a {
  text-decoration: none;
  background-color: transparent !important;
  color: white;
}
footer .social-links i {
  background-color: transparent !important;
  font-size: 48px;
  padding: 10px;
}
a {
  background-color: transparent !important;
  text-decoration: none !important;
  color: white !important;
  padding: 5px;
}
footer p {
  font-size: 16px;
  background-color: var(--primary-background-color) !important;
  padding-top: 20px !important;
  font-family: var(--primary-text-font) !important;
}

/*responsive*/
@media (max-width: 748px) {
  .nav-link:hover:after {
    width: 20%;
  }
  .contact-box {
    padding: 30px 100px;
  }
  h3 {
    font-size: 18px !important;
  }
}
