:root {
  --primary-background-color: radial-gradient(
    circle at 11.4% 50%,
    rgb(255, 37, 174) 0%,
    rgb(249, 233, 8) 90%
  );
  --tittle-text: "Exo", sans-serif;
  --subtittle-text: "Meera Inimai", sans-serif;
  --primary-text-font: "Duru Sans", sans-serif;
}
* {
  background-color: rgb(248, 227, 248);
}
body {
  background-color: rgb(248, 227, 248) !important;
}
/* Navbar */
.navbar {
  top: 0;
  background-color: rgb(248, 227, 248);
  padding: 0 !important;
  line-height: 40px;
}
.navbar-brand {
  color: #fd4799 !important;
  font-family: var(--tittle-text);
}
.navbar-toggler-icon {
  background-color: transparent;
}
.navbar-toggler {
  transition: all 200ms ease-in-out;
}
.navbar-toggler:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.navbar-toggler:hover {
  background: var(--primary-background-color) !important;
}
.nav-link {
  color: black !important;
  font-family: var(--primary-text-font);
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5;
  padding: 5px 20px !important;
}
.nav-link:hover:after {
  width: 80%;
}
.nav-link:hover {
  color: grey !important;
}
.nav-link::after {
  content: "";
  position: absolute;
  background-color: #fd4799;
  height: 3px;
  width: 0;
  left: 18px;
  bottom: 10px;
  transition: 0.3s;
}

button {
  background: rgb(248, 203, 238);
  color: white;
  font-family: var(--primary-text-font) !important;
  padding: 10px;
  border: solid var(--primary-background-color);
  border-radius: 10px !important;
  transition: 0.3s;
}
button:hover {
  background: var(--primary-background-color);
}
/*Main page*/
.first-container h2 {
  font-family: var(--tittle-text) !important;
  font-weight: bold;
  text-align: center;
  margin: 90px 20px !important;
  font-size: 58px;
  color: #fd4799;
}
.project {
  text-align: center;
}
img {
  max-width: 90%;
  margin-bottom: 20px;
}
.project h3 {
  font-family: var(--subtittle-text);
  font-weight: bolder !important;
  font-size: 24px !important;
  color: #fd4799;
}
.project p {
  font-family: var(--primary-text-font);
}
.picture {
  max-width: 100% !important;
}
/*footer*/
footer p {
  background: var(--primary-background-color) !important;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-family: var(--primary-text-font);
  font-size: 12px;
}
footer a {
  background-color: transparent;
  text-decoration: none;
  color: #ff0090;
}

/*responsive*/
@media (max-width: 748px) {
  .about-hero h1 {
    font-size: 48px !important;
    text-align: center;
  }
  h3 {
    font-size: 18px !important;
  }
  .nav-link:hover:after {
    width: 20%;
  }
}
